<p>Client Page:</p>
<html>

<body>
    <section>
        <div class="table1">

            <table style="width:100%" class="table" *ngFor="let users of signupusers ">

                <thead *ngIf="users.specifyuser==='Client'">
                    <tr>
                        <th scope="col">ID </th>
                        <th scope="col">User Type </th>
                        <th scope="col">First Name </th>
                        <th scope="col">Last Name </th>
                        <th scope="col">Email </th>
                        <th scope="col">Mobile No. </th>

                    </tr>
                </thead>
                <tbody *ngIf="users.specifyuser==='Client'">
                    <tr>
                        <td>{{users.id}}</td>
                        <td>{{users.specifyuser}}</td>
                        <td>{{users.fname}}</td>
                        <td>{{users.lname}}</td>
                        <td>{{users.email}}</td>
                        <td>{{users.phonenumber}}</td>
                    </tr>

                </tbody>
            </table>
    
        </div>

    </section>
</body>

</html>
