.container{
    width: 500px;
    height: 500px;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(51, 50, 50);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 1;
    border-radius: 15px;
}

.btn {
    margin: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:transparent;
    color: white;
    border-color:white;
    font-size: 30px;
    font-weight: bold;
}
.btn1{
    padding-left: 150px;
    padding-right: 150px;
}